div.container1
{
	padding-left:30px;
	padding-right:30px;
}
.head
{
	margin-left: 3px;
	font-size: 20px;
	font-family: "Allerta Stencil", Sans-serif;
}

.head2
{
	padding:2px;
	background-color: black;
	color:white;
	margin-left: 3px;
	font-size: 40px;
	border-radius: 12px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	font-family: "Allerta Stencil", Sans-serif;
}
.navbar-expand-sm
{
	background-color:black;
	margin-left: 20px;
	margin-right:20px;

}
.navbar-expand-sm .navbar-nav .nav-link
{
	color:white;
	 font-family: "Comic Sans MS", cursive, sans-serif;
}

div.navigation
{
	padding: 10px;
}
.signup
{
	background-color: black;
	color: white;
	float: right;
	border:2px solid;
	border-radius: 12px;
	font-size: 14px;
	text-align: center;
	display: inline-block;
	padding: 15px 20px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	 font-family: "Comic Sans MS", cursive, sans-serif;

}
.bgh
{
	background-image:url(bgg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
        width:100%;
}

.login
{
	background-color: black;
	color: white;
	float: right;
	border:2px solid;
	border-radius: 12px;
	font-size: 14px;
	text-align: center;
	display: inline-block;
	padding: 15px 20px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	 font-family: "Comic Sans MS", cursive, sans-serif;
}
.page-footer
{
	background-color: black;
	color:white;
}
@media screen and (max-width: 800px) {
    .login{
    	width:100%;
    }
    .signup{
    	width:100%;
    }
   .bgh{ width:100%;}
}
.thumbnail
{
	padding: 0 0 15px 0;
	border:none;
	border-radius: 10%;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.thumbnail img
{
	width: 100%;
	height: 100%;
	margin-bottom:10px;
	border-radius: 10%;
	padding-top: 5px;
}
.thumbnail:hover 
{
	opacity: 0.3;
}
.but
{
	display: inline-block;
	border-radius: 4px;
	background-color: black;
	border:none;
	color: white;
	text-align: center;
	font-size: 25px;
	padding: 10px;
	padding-bottom: 10px;
	width:200px;
	transition: all 0.5s;
	cursor: pointer;
	margin:5px;
	margin-bottom: 20px;
}
.but span
{
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}
.but span:after
{
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top:0;
	right: -20px;
	transition: 0.5s;
}
.but:hover span
{
	padding-right: 10px;
}
.but:hover span:after
{
	opacity: 0.9;
	right: 0;
}
